.activities-container {
    
    .comment-form {
        @textarea-width: 74%;
        @textarea-margin-right: 1%;
        margin-bottom: 7px; 
        
        textarea { 
            display: inline-block;
            height: 31px; 
            margin-right: @textarea-margin-right;
            width: @textarea-width;
        }
        
        button {
            display: inline-block;
            width: 100% - @textarea-width - @textarea-margin-right;
            vertical-align: top;
        }
    }
    
    .activities {
        @activity-header-link-color: #9B9B9B;
        margin-bottom: 0;
        padding-left: 0;
        position: relative;
        
        li {
            list-style: none;
        }
        
        ul {
            padding-left: 0;
        }
        
        .avatar {
            float:left; 
            margin-left: 0;
            max-height: 32px;
            max-width: 32px;
        }
        
        .comment-reply-form {
            
            input[type="text"] { 
                height: 25px; 
                padding: 2px 4px; 
            }
            
            .comment-holder { 
                margin-left: 32px 
            }
            
            .comment-reply-form { 
                margin-bottom: 0 
            }
        }
        
        .comment-reply-form .avatar, 
        .reply .avatar { 
            height: 24px; 
            width: 24px; 
        }
        
        
        .item {
            border-bottom: 1px solid #F2F2F2;
            padding: 10px 0;
            
            > .msg {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            
            .actions { 
                float: right;
                
                .action { 
                    padding: 0 2px;
                }
            }
            
            .date {
                font-size: .9em;    
                
                a {
                    color: @activity-header-link-color;
                }
            }
            
            .msg {
                
                img {
                    max-width: 100%;
                    max-height: 500px;
                    height: auto;
                }
                
                ul li {
                    list-style: disc;
                }
                
                ul, ol { 
                    margin-left: 20px;
                    
                }
            }
            
            .name {
                 
                .about-obj,
                .action-text { 
                    color: silver; 
                    margin-left: 5px;
                    
                    a { 
                        color: @activity-header-link-color;
                    }
                }
                
            }
            
            .date,
            .name { 
                display: block; 
                margin-left: 40px;
            }
             
        }
        
        .my-reply {
            margin: -10px;
            padding: 10px;
            position: relative;
            z-index: 10;
        }
        
        .no-activities-found {
            text-align: center;
            margin: 25px 0 5px;
        }
        
        .replies {
            background-color: white;
            border-bottom: 1px solid rgba(0,0,0,.1);
            border-right: 1px solid rgba(0,0,0,.1);
            padding: 10px;
            max-height: 500px;
            overflow-y: scroll;
        }
        
        .reply {
            
            .name, .msg, .date { 
                margin-left: 32px; 
            }

        }
        
    }
    
}

.activities-paging { 
    background-color: rgba(255,255,255, .9);
    padding-top: 25px;
    text-align: center;
    
    .progress, .progress .bar { 
        display: inline-block; 
        width: 100px; 
    }
}

.activity {
    .actions {
        float: right;
        
        a {
            margin-left: 5px
        }
        
        .date { 
            color: silver; 
        }
        
        .msg {
            
            .field-name, .field-value { 
                font-weight: bold; 
            }
        }
    }
}