# Will need to update this to pypi versions once I've tagged releases for everything

https://github.com/InfoAgeTech/django-generic/tarball/master
https://github.com/InfoAgeTech/django-core/tarball/master
https://github.com/InfoAgeTech/python-tools/tarball/master