{% comment %}
    This snippet represents an individual user notifications or activity.
    
    Variables:
    
    notification: notification object
    show_reference_obj: boolean string whether to show the line about which obj  
        the notification is referencing. This has to be a string because of how 
        variables are passed to the snippet.  Should be 'True' or 'False'. 
        Default is 'False'.
    
{% endcomment %}

{% load collection_tags humanize i18n notification_tags url_tags %}

{% spaceless %}
<li class="item-container notification-container" id="n-{{ notification.id }}">

    <ul class="item notification clearfix">
        
        <li class="avatar">
            <a href="{% if user.id == notification.created_user_id %}{% url 'home' %}{% else %}{{ notification.created_user.get_absolute_url }}{% endif %}">
                <img src="{{ notification.created_user.get_avatar_url }}" alt="Avatar" class="avatar" />
            </a>
        </li>
        <li class="actions">
            {% if notification.is_editable and notification.created_user_id == user.id %}
                {% edit_url_link obj=notification icon_class=ICON_EDIT_CLS text='' %}
            {% endif %}
            {% delete_url_link obj=notification icon_class=ICON_DECLINE_CLS text='' %}
        </li>
        <li class="name">
            <strong>
                <a href="{% if user.id == notification.created_user_id %}{% url 'home' %}{% else %}{{ notification.created_user.get_absolute_url }}{% endif %}">{{ notification.created_user.get_full_name }}</a>
            </strong>
            
            {% comment %}If this is passed in a template, I can only pass strings which is why 'True' check exists{% endcomment %}
            {% comment %}
            {% if show_reference_obj == 'True' or show_reference_obj == True %}
              {% if notification.about|get_obj_type == 'bill' %}
                <span class="about-obj">{% if notification.about.group_id %}in {{ notification.about.group.get_absolute_url_link }} {% endif %}
                    for {{ notification.about.get_absolute_url_link }}
                </span>
              {% elif notification.about|get_obj_type == 'billinstance' %}
                <span class="about-obj">{% if notification.about.bill.group_id %}in {{ notification.about.bill.group.get_absolute_url_link }} {% endif %}
                    for {{ notification.about.bill.get_absolute_url_link }} ({{ notification.about.get_absolute_url_link_short_date }})
                </span>
              {% elif notification.about|get_obj_type == 'group' %}
                <span class="about-obj">in {{ notification.about.get_absolute_url_link }}</span>
              {% endif %}
            {% endif %}
            {% endcomment %}
            
        </li>
        <li class="msg">
          {% if notification.source == 'COMMENT' %}
            {{ notification.text|linebreaks }}
          {% else %}
            {{ notification.text|safe|linebreaks }}
          {% endif %}
        </li>
        <li class="date">{{ notification.created_dttm|naturaltime }}</li>
        <li class="replies">
            <ul>
                {% for reply in notification.replies.all %}
                <li class="reply">
                    <ul>
                        <li class="avatar">
                            <a href="{% if user.id == reply.created_user_id %}{% url 'home' %}{% else %}{{ reply.created_user.get_absolute_url }}{% endif %}">
                                <img src="{{ reply.created_user.get_avatar_url }}" alt="Avatar" class="avatar" />
                            </a>
                        </li>
                        <li class="actions">
                            {% if reply.created_user_id == user.id or notification.created_user_id == user.id %}
                                <a href="{{ reply.get_edit_url }}"><i class="{{ ICON_EDIT_CLS }}"></i></a>
                            {% endif %}
                            <a href="{{ reply.get_delete_url }}"><i class="{{ ICON_DECLINE_CLS }}"></i></a>
                        </li>
                        <li class="name">
                            <strong>
                                <a href="{% if user.id == reply.created_user_id %}{% url 'home' %}{% else %}{{ reply.created_user.get_absolute_url }}{% endif %}">{{ reply.created_user.get_full_name }}</a>
                            </strong>
                        </li>
                        <li class="msg">{{ reply.text|safe|linebreaks }}</li>
                        <li class="date">{{ reply.created_dttm|naturaltime }}</li>
                    </ul>
                </li>
                {% endfor %}
                <li class="my-reply">
                    <form class="comment-reply-form" action="{% url 'notifications_view' notification.about_content_type.id notification.about_id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path}}" />
                        <input type="hidden" name="pid" value="{{ notification.id }}" />
                        <img alt="Avatar" src="{{ user.get_avatar_url }}" class="avatar" />
                        <div class="comment-holder">
                            <input type="text" name="text" class="form-control" placeholder="Make a comment..." />
                        </div>
                    </form>
                </li>
            </ul>
        </li>     
    </ul>
    
</li>
{% endspaceless %}
