.notifications-container .comment-form {
  margin-bottom: 7px;
}
.notifications-container .comment-form textarea[name="text"] {
  height: 31px;
  width: 100%;
}
.notifications-container .comment-form .btn-primary {
  width: 100%;
}
.notifications-container .notifications {
  margin-bottom: 0;
  padding-left: 0;
}
.notifications-container .notifications li {
  list-style: none;
}
.notifications-container .notifications ul {
  padding-left: 0;
}
.notifications-container .notifications .avatar {
  float: left;
  margin-left: 0;
}
.notifications-container .notifications .comment-reply-form input[type="text"] {
  height: 25px;
  padding: 2px 4px;
}
.notifications-container .notifications .comment-reply-form .comment-holder {
  margin-left: 32px;
}
.notifications-container .notifications .comment-reply-form .comment-reply-form {
  margin-bottom: 0;
}
.notifications-container .notifications .comment-reply-form .avatar,
.notifications-container .notifications .reply .avatar {
  height: 24px;
  width: 24px;
}
.notifications-container .notifications .item {
  border-bottom: 1px solid #F2F2F2;
  padding: 10px 0;
}
.notifications-container .notifications .item .actions {
  float: right;
}
.notifications-container .notifications .item .actions .action {
  padding: 0 2px;
}
.notifications-container .notifications .item .msg ul li {
  list-style: disc;
}
.notifications-container .notifications .item .msg ul,
.notifications-container .notifications .item .msg ol {
  margin-left: 20px;
}
.notifications-container .notifications .item .name .about-obj {
  color: silver;
  margin-left: 5px;
}
.notifications-container .notifications .item .name .about-obj a {
  color: gray;
}
.notifications-container .notifications .item .name,
.notifications-container .notifications .item .msg,
.notifications-container .notifications .item .date,
.notifications-container .notifications .item .replies {
  display: block;
  margin-left: 40px;
}
.notifications-container .notifications .reply .name,
.notifications-container .notifications .reply .msg,
.notifications-container .notifications .reply .date {
  margin-left: 32px;
}
.notifications-paging {
  text-align: center;
}
.notifications-paging .progress,
.notifications-paging .progress .bar {
  display: inline-block;
  width: 100px;
}
.notification .actions {
  float: right;
}
.notification .actions a {
  margin-left: 5px;
}
.notification .actions .date {
  color: silver;
}
.notification .actions .msg .field-name,
.notification .actions .msg .field-value {
  font-weight: bold;
}
