{% extends 'activities/base_activity.html' %}
{% load i18n url_tags activity_tags %}
{% block page_title %}{% trans 'Delete Activity' %} - {% endblock %}

{% block breadcrumb %}
    <li>{% delete_url_link obj=activity auth_user=user %}</li>
{% endblock %}

{% block activity_content %}
    <h1>Delete Activity</h1>
    <div class="activities-container" data-ajax="activities">
        <ul class="activities single-activity">
            {% render_activity activity=activity activity_url=activity_url show_replies=False %}
        </ul>
    </div>
    <form method="post" action="{{ activity.get_delete_url }}">
        {% csrf_token %}
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{{ activity.about.get_absolute_url }}">cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
