{% extends 'notifications/base_notification.html' %}
{% load i18n breadcrumb_tags url_tags bootstrap %}
{% block page_title %}Edit Notification - {% endblock %}

{% block breadcrumb %}
    <li>{{ notification.get_edit_url_link }}</li>
{% endblock %}

{% block notification_content %}
    <h1>Edit Notification</h1>
    <form method="post" action="{{ notification.get_edit_url }}" class="form-horizontal">
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{{ notification.about.get_absolute_url }}">cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
