{% extends 'notifications/base_notification.html' %}
{% block page_title %}Notification Reply - {% endblock %}

{% block notification_content %}
    <h1>Notification Reply</h1>
    <dl class="dl-horizontal">
        <dt>Created by</dt>
        <dd>{{ notification_reply.created_user.get_absolute_url_link }}</dd>
        <dt>Created on</dt>
        <dd>{{ notification_reply.created_dttm|date:DATETIME_FULL_FORMAT }}</dd>
        <dt>Last Modified by</dt>
        <dd>{{ notification_reply.last_modified_user.get_absolute_url_link }}</dd>
        <dt>Last Modified on</dt>
        <dd>{{ notification_reply.last_modified_dttm|date:DATETIME_FULL_FORMAT }}</dd>
        <dt>Notification</dt>
        <dd>{{ notification_reply.text|safe }}</dd>
    </dl>
{% endblock %}
