{% comment %}
This snippet is used for user activities or activity feed.

Params:

activities_page: the page django.core.paginator.Page of activities
activity_url: the url for the object's activities
obj: the obj the activities are for.
activity_source: the source of the activities (optional).  Default
    is to show all.  Can be 'USER' or 'SYSTEM'.
activity_action: the action of the activity (optional). Defaults
    to show all actions.  Can be one of an action values ("CREATED", 
    "COMMENTED", "UPDATED", "DELETED", etc.)
show_comment_form: (optional) boolean indicating if the comment form should
    be shown at the top of the activities.  Default is True.
show_activity_type_tabs: (optional) show the activity type tabs at the top of the
    activities so they can be sorted by type.  Default is True.
is_infinite_scroll: (optional) boolean indicating if the activities should use
    infinite scroll.
user_cache: (optional) a dict of users keyed by their user id. This can be 
    useful to prevent user queries on activity "about" objects where 
    select_related and prefetch_related can't be used on the "about" fields 
    since it's a generic foreign key field.
{% endcomment %}

{% load humanize activity_tags %}
{% spaceless %}

{% with activities_object_list=activities_page.object_list %}

<div class="activities-container" data-ajax="activities"{% if is_infinite_scroll %} data-infinite_scroll="true"{% endif %}>

  {% if not request.is_ajax %}
    {% if  show_comment_form != False %}
      {% if request.user.is_authenticated %}
	    <form class="comment-form" action="{{ activity_url }}" method="post">{% csrf_token %}
	        <input type="hidden" name="next" value="{{ request.path}}" />
	        <input type="hidden" name="action" value="COMMENTED" />
            <div class="input-group">
                <textarea name="text" rows="2" cols="20" class="form-control" placeholder="Make a comment..."></textarea>
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm" type="submit">Comment</button>
                </span>
            </div>
	    </form>
      {% else %}
        <div class="comment-form">Please log in to comment.</div>
      {% endif %}
    {% endif %}
    
    {% if show_activity_type_tabs != False %}
    <ul class="nav nav-tabs activity-type">
      {% with action=activity_action.lower source=activity_source.lower %}
        <li{% if not activity_action == 'commented' and not activity_source == 'system' %} class="active"{% endif %}><a href="{{ activity_url }}">All</a></li>
        <li{% if activity_action == 'commented' %} class="active"{% endif %}><a href="{{ activity_url }}?aa=commented">Comments</a></li>
        <li{% if activity_source == 'system' %} class="active"{% endif %}><a href="{{ activity_url }}?as=system">Activity</a></li>
      {% endwith %}
    </ul>
    {% endif %}
  {% endif %}
   
  
	<ul class="activities">
	{% for activity in activities_object_list %}
	  {% if obj == activity.about %}
	    {% render_activity activity=activity activity_url=activity_url user_cache=user_cache %}
	  {% else %}
	    {% render_activity activity=activity show_reference_obj=True activity_url=activity_url user_cache=user_cache %}
	  {% endif %}
	{% empty %}
	    <li class="no-activities-found">No activities found.</li>
	{% endfor %}
	</ul>
  
  {% if activities_page.has_next %}
    <div class="activities-paging">
        <a href="{{ activity_url }}?ap={{ activities_page.next_page_number }}&aps={{ activities_page.paginator.per_page }}{% if activity_source %}&as={{ activity_source.lower }}{% endif %}{% if activity_action %}&aa={{ activity_action.lower }}{% endif %}" class="has-more btn btn-default">more</a>
    </div>
  {% endif %}
   
</div>

{% endwith %}

{% endspaceless %}
