{% comment %}
    This snippet is used for user notifications or activity feed.
    
    Variables:
    
    notifications_page: the page django.core.paginator.Page of notifications
    notification_url: the url for the object's notifications
    obj: the obj the notifications are for.
    notification_source: the source of the notifications (optional).  Default
        is to show all.  Can be 'USER' or 'SYSTEM'.
    notification_action: the action of the notification (optional). Defaults
        to show all actions.  Can be one of an action values ("CREATED", 
        "COMMENTED", "UPDATED", "DELETED", etc.)
     
{% endcomment %}

{% load humanize notification_tags %}
{% spaceless %}

{% with notifications_object_list=notifications_page.object_list %}

<div class="notifications-container" data-ajax="notifications">

  {% if not request.is_ajax %}
    {% if request.user.is_authenticated %}
    <form class="comment-form" action="{{ notification_url }}" method="post">{% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path}}" />
        <div class="row">
            <div class="col-md-9">
                <textarea name="text" rows="2" cols="20" class="form-control" placeholder="Make a comment..."></textarea>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-sm" type="submit">Comment</button>
            </div>
        </div>
    </form>
    {% else %}
    <div>Please log in to comment.</div>
    {% endif %}
    
    <ul class="nav nav-tabs notification-type">
      {% with action=notification_action.lower source=notification_source.lower %}
        <li{% if not notification_action == 'commented' and not notification_source == 'system' %} class="active"{% endif %}><a href="{{ notification_url }}">All</a></li>
        <li{% if notification_action == 'commented' %} class="active"{% endif %}><a href="{{ notification_url }}?na=commented">Comments</a></li>
        <li{% if notification_source == 'system' %} class="active"{% endif %}><a href="{{ notification_url }}?ns=system">Activity</a></li>
      {% endwith %}
    </ul>
  {% endif %}
   
  
	<ul class="notifications">
	{% for n in notifications_object_list %}
	  {% if obj == n.about %}
	    {% render_notification notification=n %}
	  {% else %}
	    {% render_notification notification=n show_reference_obj=True %}
	  {% endif %}
	{% empty %}
	    <li class="no-notifications-found">No notifications found.</li>
	{% endfor %}
	</ul>
  
  {% if notifications_page.has_next %}
    <div class="notifications-paging">
        <a href="{{ notification_url }}?np={{ notifications_page.next_page_number }}&nps={{ notifications_page.paginator.per_page }}{% if notification_source %}&ns={{ notification_source.lower }}{% endif %}{% if notification_action %}&na={{ notification_action.lower }}{% endif %}" class="has-more">more</a>
    </div>
  {% endif %}
   
</div>

{% endwith %}

{% endspaceless %}
